* {
  box-sizing: border-box;
}
.list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0;
  margin-top: 20px;
  margin-top: 40px;
}
.list-item {
  display: flex;
  width: 100%;
  margin: 60px;
  border-radius: 10px;
  flex: 1 0 250px;
  padding:0;
}

.list-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 100%;
  margin:10px;
  border: 2px solid orange/*#f5cb10*/;

}
.list-content p {
  flex: 1 0 auto;
  text-align:center;
}
.list-content button {
  padding: 10px;
  background: rgba(255, 145, 0, 0.671);
  border-radius: 5px;
  margin: 10px;
}
.list > ul,
.list > li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-content > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  opacity:1;
  transition: transform 0.2s ease opacity 0.5s ease;
}

.list-content > img:hover {
  opacity:.7;
  transform:scale(.96);
}

.petname{
    text-align:center;
}

.moreInfo{
    padding: 5px;
    color:red;
}
/* Media queries : Responsiveness*/

@media all and (min-width: 600px) {
  .list-item {
    width: 53.33%;
  }
}

@media all and (min-width: 900px) {
  .list-item {
    width: 16.66%;
  }
}
